.tree-view {
  display: flex;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.tree-view div {
  display: flex;
  align-items: center;
}
.tree-view:hover .tree-icon {
  opacity: 1;
}
.treeview-open {
  display: flex;
  gap: 0.5rem;
}
.tree-icon {
  opacity: 0;
  transition: all 0.5s;
}
ul {
  opacity: 0;
  transition: all 1s;
}
ul hr {
  opacity: 0;
  transition: all 1s;
}
ul.is-open {
  opacity: 1;
  position: relative;
}
ul.is-open hr {
  opacity: 1;
  position: absolute;
  left: -1%;
  bottom: 0;
  height: 100%;
}
